<HTML LANG="es">
    <HEAD>
       <TITLE>Departamento de Lenguajes y Sistemas Informáticos. Página principal</TITLE>
       <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=ISO-8859-1">
       <LINK REL="stylesheet" TYPE="text/css" HREF="lsi2.css">
       <LINK REL="shortcut icon" HREF="favicon.ico">
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ?
    "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost +
    "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script type="text/javascript">
    try {
       var pageTracker = _gat._getTracker("UA-11776950-1");
       pageTracker._trackPageview();
    } catch(err) {}
    </script>
    
    </HEAD>
    
    <BODY>
    
    <div id="container">
    
    <!-- Cabecera -->
    <DIV ID="cabecera1">
    <P CLASS="textocabecera1">
       <A TARGET="_top" HREF="/index.php"><IMG SRC="/imagenes/logolsi49x56.gif"
          WIDTH="56" HEIGHT="49" ALT="Logo LSI" BORDER="0"></A>
    
       <IMG SRC="/imagenes/rotulo-lsi-grande3.jpg" ALT="rï¿½tulo LSI" WIDTH="700" HEIGHT="50">
    
       <A TARGET="_blank" HREF="http://www.us.es/"><IMG SRC="/imagenes/logous50x50.gif"
          WIDTH="50" HEIGHT="50" ALT="Logo US" BORDER="0"></A>
    </P>
    </DIV>
    <DIV ID="cabecera2">
    <P CLASS="textocabecera2">
       <A CLASS="fondoazul" HREF="/docencia/docencia.php">Docencia</A> |
       <A CLASS="fondoazul" HREF="/investigacion/investigacion.php">Investigaci&oacute;n</A> |
       <A CLASS="fondoazul" HREF="/personal/personal.php">Personal</A> |
       <A CLASS="fondoazul" HREF="/informacion.php">Informaci&oacute;n</A> |
       <A CLASS="fondoazul" HREF="/noticias.php">Noticias</A> |
       <A CLASS="fondoazul" HREF="/enlaces.php">Enlaces</A> |
       <A CLASS="fondoazul" HREF="/descargas/descargas.php">Descargas</A> |
       <A CLASS="fondoazul" HREF="/usuarios/index.php">Zona privada</A></P>
    </DIV>
    
    <BR>
    <TABLE CELLSPACING="0" CELLPADDING="0">
    <TR VALIGN="TOP">
    
       <!-- COLUMNA 1 -->
       <!-- Noticias -->
       <TD WIDTH="475">
    
          <H1 CLASS="inicio-rotulo">Noticias</H1>
    
          <DIV ID="inicio-izquierda">
    
             <P CLASS='noticiaFecha'>07/06/2021 - 22:23</P>
    <P CLASS='noticiaResumen'>Convocatoria de Consejo de Departamento [<A HREF='noticias.php#273'>ampliar</A>]</P>
    <P CLASS='noticiaFecha'>13/04/2021 - 17:19</P>
    <P CLASS='noticiaResumen'>Convocatoria de Consejo de Departamento [<A HREF='noticias.php#272'>ampliar</A>]</P>
    <P CLASS='noticiaFecha'>16/12/2020 - 00:08</P>
    <P CLASS='noticiaResumen'>Lista definitiva de alumnos internos para el curso 2020/21 [<A HREF='noticias.php#271'>ampliar</A>]</P>
    <P CLASS='noticiaFecha'>15/12/2020 - 21:00</P>
    <P CLASS='noticiaResumen'><a href='docencia/pagina_asignatura.php?id=119'>AII</a>: EXAMEN DE LA CONVOCATORIA DE DICIEMBRE DÍA 16/12/20 A LAS 16:00 [<A HREF='noticias.php#AII-3443'>ampliar</A>]</P>
    <P CLASS='noticiaFecha'>03/12/2020 - 19:42</P>
    <P CLASS='noticiaResumen'>Convocatoria de Consejo de Departamento [<A HREF='noticias.php#270'>ampliar</A>]</P>
    <P CLASS='masnoticias'>[<A HREF='noticias.php'>Más noticias</A>] [<A HREF='rss.xml'>RSS</A>]</P>
          </DIV>
          
       <BR>
    
       <A TARGET='_blank' HREF="http://masteroficial.us.es/mis"><IMG
       SRC="/imagenes/rotulo-master-iscdg-475-2.jpg" WIDTH="475" HEIGHT="129" BORDER="0"
       ALT="Máster en Ingeniería del Software: Cloud, Datos y Gestión TI"></A>
    
       </TD>
       <!-- Fin de las noticias -->
    
       <!-- Columna en blanco -->
       <TD WIDTH="15">&nbsp;</TD>
    
       <!-- COLUMNA 2 -->
       <!-- Enlaces temporales -->
       <TD WIDTH="175">
       <br>
          <!-- <H1 CLASS="inicio-rotulo">Actualidad</H1> -->
          
          <!-- Postgrado Oficial en Ingeniería y Tecnología del Software -->
          <DIV CLASS="caja-anuncio">
             <A HREF="/pop"><IMG
             SRC="/imagenes/pop-its.png" BORDER="0"
             WIDTH="150" HEIGHT="120" ALT="Postgrado Oficial en Ingeniería y Tecnología del Software"></A>
          </DIV>
    
          <!-- Propuestas de Proyectos -->
          <DIV CLASS="caja-anuncio">
             <A HREF="docencia/trabajosfindecarrera.php"><IMG
             BORDER="0" SRC="/imagenes/anuncio-enlaces-trabajos-fin-de-carrera.png" WIDTH="150" HEIGHT="55"
             ALT="Trabajos Fin de Carrera"></A>
          </DIV>
    
          <!-- Convocatoria de Alumnos Internos 2020/2021 -->
          <DIV CLASS="caja-anuncio">
             <A HREF="alumnosinternos.php"><IMG
             SRC="/imagenes/anuncio-alumnosinternos.gif" BORDER="0"
             WIDTH="120" HEIGHT="50" ALT="Alumnos internos 2020/2021"></A>
          </DIV>
          
          <!-- Programas y proyectos docentes -->
          <DIV CLASS="caja-anuncio">
             <A HREF="docencia/utilidades/muestra_programas_y_proyectos_US.php"><IMG
             BORDER="0" SRC='/imagenes/anuncio-programas-proyectos-docentes.png' WIDTH='150' HEIGHT='75' 
             ALT='Programas y proyectos docentes'></A>
          </DIV>
          
          <!-- Calendario de exámenes de asignaturas extinguidas 2017/2018
          <DIV CLASS="caja-anuncio">
             <A HREF="/docencia/examenes_asignaturas_extinguidas.php"><IMG
             SRC="/imagenes/anuncio-examenesasignaturasextinguidas.png" BORDER="0"
             WIDTH="150" HEIGHT="50" ALT="Exámenes de asignaturas extinguidas 2017/2018"></A>
          </DIV> -->
    
       </TD>
       <!-- Fin de los enlaces temporales -->
    
       <!-- Columna en blanco -->
       <TD WIDTH="15">&nbsp;</TD>
    
       <!-- COLUMNA 3 -->
       <!-- Accesos rápidos -->
       <TD WIDTH="180">
    
          <H1 CLASS="inicio-rotulo">Accesos rápidos</H1>
          <DIV ID="inicio-derecha">
             <P CLASS="acceso-rapido">Grados: <A HREF="docencia/asignaturas2.php?titulacion=GIIIC">IC</A> -
                <A HREF="docencia/asignaturas2.php?titulacion=GIIIS">IS</A> -
                <A HREF="docencia/asignaturas2.php?titulacion=GIITI">TI</A></P>
             <P CLASS="acceso-rapido"><A HREF="docencia/asignaturas2.php?titulacion=INGSAL">Ingeniería de la Salud</A></P>
             <P CLASS="acceso-rapido"><A HREF="docencia/asignaturas2.php?titulacion=DGDGAP">Derecho y G.A.P.</A></P>
             <P CLASS="acceso-rapido"><A HREF="docencia/asignaturas2.php?titulacion=GAP">Gestión y Ad. Pública</A></P>
    
             <P CLASS="acceso-rapido">Adaptación: <A HREF="docencia/asignaturas2.php?titulacion=CAIC">IC</A> -
                <A HREF="docencia/asignaturas2.php?titulacion=CAIS">IS</A></P>
    
             <P CLASS="acceso-rapido"><A HREF="docencia/tutorias.php">Horarios de tutorías</A></P>
             <P CLASS="acceso-rapido"><A HREF="cursos/cursos.php">Cursos</A> y
                <A HREF="investigacion/seminarios.php">Seminarios</A></P>
             <P CLASS="acceso-rapido"><A HREF="personal/personal2.php?tipo=1">Profesores</A></P>
             <P CLASS="acceso-rapido"><A HREF="docencia/notas.php">Consulta de notas</A></P>
             <p CLASS="acceso-rapido"><a TARGET='_blank' href="https://ev.us.es">Enseñanza Virtual</a></p>
          </DIV>
          
          <BR>
          
       </TD>
       <!-- Fin de los accesos rápidos -->
    
    </TR>
    </TABLE>
    
    <!-- Datos de contacto -->
    <DIV ID="inicio-abajo">
    <!--
    
    </DIV>
    
    <!-- Pie -->
    <BR>
    <DIV ID="pie">
    <P CLASS="textopie">
       <A CLASS="fondoazul" HREF="/index.php">inicio</A> |
       <A CLASS="fondoazul" HREF="/mapa.php">mapa del sitio</A> |
       <A CLASS="fondoazul" HREF="/rss.php">rss</A> |
       <A CLASS="fondoazul" HREF="/avisolegal.php">aviso legal</A> |
       <A CLASS="fondoazul" HREF="/contacto.php">contacto</A></P>
    </DIV>
    
    </div>
    
    </BODY>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Leslie"
  agent-id="34328104-0cca-4e26-83f8-951364f33a43"
  chat.icon="https://i.ibb.co/TwGy1Zx/chatbot.png"
  language-code="es"
></df-messenger>

</html>